$primary-color: #2a6dca;

$regular-color: #7f8b99;

$light-color: #d5d9dd;

$btn-primary-color: $regular-color;
$btn-primary-bg-color: #fcfcfc;
$btn-primary-hover-bg-color: #e8edf6;
$btn-primary-hover-color: $primary-color;
$btn-primary-border-color: $light-color;

$input-border-color: $light-color;
$input-placeholder-color: $light-color;
$input-color: $regular-color;
$input-box-shadow-color: $primary-color;
